.crito-4 {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 10vw;
  padding-bottom: 20vw;
}
@media (min-width: 768px) {
  .crito-4 {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}
@media (min-width: 992px) {
  .crito-4 {
    padding-bottom: 5vw;
  }
}
@media (min-width: 1200px) {
  .crito-4 {
    padding-top: 75px;
    padding-bottom: 15px;
  }
}
.crito-4 .our-services-boxes {
  background: #fff;
}
@media (min-width: 768px) {
  .crito-4 .our-services-boxes {
    background: none;
  }
}
@media (min-width: 992px) {
  .crito-4 .our-services-boxes {
    display: flex;
  }
}
.crito-4 .our-services-boxes .gallery-cell {
  width: 100%;
  height: 400px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
@media (min-width: 768px) {
  .crito-4 .our-services-boxes .gallery-cell {
    padding: 5vw 15vw;
  }
}
@media (min-width: 992px) {
  .crito-4 .our-services-boxes .gallery-cell {
    display: none;
  }
}
.crito-4 .our-services-boxes .flickity-button,
.crito-4 .our-services-boxes .flickity-prev-next-button {
  display: none;
}
.crito-4 .our-services-boxes .flickity-page-dots {
  bottom: -35px;
}
@media (min-width: 992px) {
  .crito-4 .text-area {
    margin: 0px 15px 0px 15px;
  }
}
.crito-4 h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
@media (min-width: 768px) {
  .crito-4 h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  .crito-4 h3 {
    font-size: 1.85vw;
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .crito-4 h3 {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .crito-4 .box1,
  .crito-4 .box2,
  .crito-4 .box3,
  .crito-4 .box4 {
    border: 1px solid #DAD9D3;
    background: #fff;
    padding: 10vw;
  }
}
@media (min-width: 992px) {
  .crito-4 .box1,
  .crito-4 .box2,
  .crito-4 .box3,
  .crito-4 .box4 {
    width: 25%;
    padding: 3vw;
    background: #fff;
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 1200px) {
  .crito-4 .box1,
  .crito-4 .box2,
  .crito-4 .box3,
  .crito-4 .box4 {
    padding: 2vw;
  }
}
@media (min-width: 1600px) {
  .crito-4 .box1,
  .crito-4 .box2,
  .crito-4 .box3,
  .crito-4 .box4 {
    padding: 1.5vw;
    padding-top: 0;
  }
}
.crito-4 .box1 .round-arrow,
.crito-4 .box2 .round-arrow,
.crito-4 .box3 .round-arrow,
.crito-4 .box4 .round-arrow {
  text-align: right;
}
.crito-4 .box1 .fa-solid,
.crito-4 .box2 .fa-solid,
.crito-4 .box3 .fa-solid,
.crito-4 .box4 .fa-solid {
  font-size: 10vw;
  cursor: pointer;
}
@media (min-width: 768px) {
  .crito-4 .box1 .fa-solid,
  .crito-4 .box2 .fa-solid,
  .crito-4 .box3 .fa-solid,
  .crito-4 .box4 .fa-solid {
    font-size: 5vw;
  }
}
@media (min-width: 992px) {
  .crito-4 .box1 .fa-solid,
  .crito-4 .box2 .fa-solid,
  .crito-4 .box3 .fa-solid,
  .crito-4 .box4 .fa-solid {
    font-size: 2vw;
  }
}
@media (min-width: 1200px) {
  .crito-4 .box1 .fa-solid,
  .crito-4 .box2 .fa-solid,
  .crito-4 .box3 .fa-solid,
  .crito-4 .box4 .fa-solid {
    font-size: 45px;
  }
}
.crito-4 .box1 .fa-solid:hover,
.crito-4 .box2 .fa-solid:hover,
.crito-4 .box3 .fa-solid:hover,
.crito-4 .box4 .fa-solid:hover {
  color: #666666;
}
@media (min-width: 992px) {
  .crito-4 .box2 {
    background: #F9D783;
  }
}
@media (min-width: 992px) {
  .crito-4 .white {
    color: white;
  }
}
.crito-4 .center-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vw;
  padding-bottom: 0vw;
}
@media (min-width: 768px) {
  .crito-4 .center-button-group {
    padding-top: 10vw;
    padding-bottom: 5vw;
  }
}
@media (min-width: 992px) {
  .crito-4 .center-button-group {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}
.crito-4 .header-background {
  position: absolute;
  top: 86.6%;
}
@media (min-width: 768px) {
  .crito-4 .header-background {
    top: 72.6%;
  }
}
@media (min-width: 992px) {
  .crito-4 .header-background {
    top: 72.6%;
    left: 28%;
  }
}
@media (min-width: 1200px) {
  .crito-4 .header-background {
    top: 73.6%;
    left: 51%;
  }
}
@media (min-width: 1600px) {
  .crito-4 .header-background {
    top: 74.6%;
    left: 59%;
  }
}
@media (min-width: 1920px) {
  .crito-4 .header-background {
    top: 79.6%;
    left: 71%;
  }
}
.crito-4 .header-background img {
  width: 100%;
}